.App {
  height: 100vh;
}

.main-section {
  margin: 20px 40px;
}

.articles-container {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.controls-container {
  margin: 10px 0px;
}

.loading-container {
  display: flex;
  flex: 1;
  padding: 4rem 0rem;
  justify-content: center;
  align-items: center;
}

.topic-container {
  display: flex;
  flex: 1;
  gap: 10px;
  margin: 10px 0px;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
